# The location where your downloaded files are stored
DOWNLOAD_PATH=./data/download

# Enable to activate Discord Notification
# DISCORD_TOKEN=dummy_token
# DISCORD_DEFAULT_CHANNEL_ID=dummy_channel_id
# DISCORD_ADMINS=[0000]

# Enable to activate 1fichier download
# UNFICHIER_API_TOKEN=dummy_1fichier_token
