astroid==2.4.2
beautifulsoup4==4.8.2
blinker==1.4
certifi==2019.11.28
cfscrape==2.1.1
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-HTTPAuth==4.2.0
Flask-JWT==0.3.2
flask-paginate==0.5.5
Flask-Sitemap==0.3.0
idna==2.8
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
PyJWT==1.4.2
pylint==2.6.0
pymongo==3.10.1
requests==2.22.0
six==1.15.0
soupsieve==1.9.5
toml==0.10.2
typed-ast==1.4.1
urllib3==1.25.8
Werkzeug==1.0.0
wrapt==1.12.1
