{% include 'header.html' %}
    <div class="container mt-3 lecture">
        <p class="mb-2">Bonjour à tous !</p>
        <p>Vous voici sur le <a href="/">NMDownloader</a>.</p>
        <p>
            Ceci est un projet qui a émergé il y a quelques temps dans ma tête. 
            J’ai beaucoup réfléchi à l’architecture et aux différentes <span class="font-italic">features</span> qu’il pouvait contenir.
        </p>
        <p>
            Je suis d’accord qu’il existe pléthore de sites dans le même genre. 
            J’essaye de me diversifier dans l’approche simpliste et facile d’utilisation. 
            En effet, vous pouvez remarquer qu’il n’y a aucune pub. 
            C’est dû au fait que je n’ai pas besoin de rémunération pour effectuer les développements. 
            J’ai en effet un métier à côté qui me permet de vivre <i class="far fa-smile"></i>
        </p>
        <p class="mt-1 mb-0 font-weight-bold">Qu’est-ce qu’apporte la newsletter ?</p>
        <p>C’est un e-mail (pour le moment) qui est envoyé à chaque nouvel ajout avec un lien permettant d’accéder en 1 clic au stream.</p>
        <p class="mt-1 mb-0">Le site est en perpétuelle évolution et continuera de l’être tant que j’arrive à me dégager du temps pour travailler dessus.</p>
        <p>En espérant qu’il vous convienne !</p>
        <p class="mt-2">
            Un grand merci à <span class="font-weight-bold">EMA</span> qui a pensé à l’UI/UX du site.
        </p>
        <p class="mt-1">Bonne journée !</p>
        <p>AlexNMD</p>
    </div>
    
{% include 'footer.html' %}