<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ee3dd47c4.js" crossorigin="anonymous"></script>
    <link href="../static/src/styles/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="static/src/images/favicon.ico">
    <meta name="google-site-verification" content="OQ0H7B_r_HQLVtC3T2lzJ-QWNwbdURN8Dd1SAX9GvAA" />

    <!-- custom add -->
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">


    <!-- Primary Meta Tags -->
    <title>NMDownloader — Streaming gratuit et facile</title>
    <meta name="title" content="NMDownloader — Streaming gratuit et facile">
    <meta name="description" content="Accéder à des centaines de contenus en streaming très rapidement. Et tout cela en étant complètement gratuit et avec ZERO pub !">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nmdownloader.eu/">
    <meta property="og:title" content="NMDownloader — Streaming gratuit et facile">
    <meta property="og:description" content="Accéder à des centaines de contenus en streaming très rapidement. Et tout cela en étant complètement gratuit et avec ZERO pub !">
    <meta property="og:image" content="https://nmdownloader.eu/static/src/images/theNMDownloader_logo.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nmdownloader.eu/">
    <meta property="twitter:title" content="NMDownloader — Streaming gratuit et facile">
    <meta property="twitter:description" content="Accéder à des centaines de contenus en streaming très rapidement. Et tout cela en étant complètement gratuit et avec ZERO pub !">
    <meta property="twitter:image" content="https://nmdownloader.eu/static/src/images/theNMDownloader_logo.jpg">
</head>
<body onload="title_animation()">
<!-- <canvas id="c"></canvas>-->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
  <div class="container text-center">
    <a href="/">
      <img src={{ url_for('static', filename = 'src/images/theNMDownloader_logo.jpg') }}  width="300" height="220" alt="logo">
    </a>
  </div>
